<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form method="POST" >
        <h1>Is it gonna rain soon?</h1>
        <h2>a straighforward answer!</h2>
        <h5>a prediction made by a machine learning model from live data</h5>
        <input type="text" name="city">
        <input type="submit" id="choice"/>
    </form>
    
</body>
</html>